/*- Library:: Main -------*/
.library__main {
  display: grid;
  gap: 25px;
}

/*- Library:: Table -------*/
.library__tbls {
  .library__tbls-col-1 { flex-basis: 30%; }
  .library__tbls-col-2 { flex-basis: 30%; }
  .library__tbls-col-3 { flex-basis: 30%; }
  .library__tbls-col-4 { flex-basis: 30%; }
  .library__tbls-col-5 { flex-basis: 30%; }
}