/*- Library:: Table -------*/
.library__tbls {
  .library__tbls-col-1 { flex-basis: 40%; }
  .library__tbls-col-2 { flex-basis: 25%; }
  .library__tbls-col-3 { flex-basis: 40%; }
}
.library__btns.lib-full {
  font-size: 14px;
  &i{
    font-size: 13px !important;
    position: relative;
    top: 1px;
  }
}