/*- Library:: Table -------*/
.library__tbls {
  .library__tbls-col-1 { flex-basis: 40%; }
  .library__tbls-col-2 { flex-basis: 25%; }
  .library__tbls-col-3 { flex-basis: 25%; }
  .library__tbls-col-4 { flex-basis: 20%; }
  .library__tbls-col-5 { flex-basis: 20%; }
}