/*- Library:: Main -------*/
.library__infos > :last-child:nth-child(2n+1) {
  grid-column: unset;
}
.library__infos > :first-child:nth-child(2n+1) {
  grid-column: span 2;
}
/*- Library:: Table -------*/
.library__tbls {
  .library__tbls-col-1 { flex-basis: 30%; }
  .library__tbls-col-2 { flex-basis: 30%; }
  .library__tbls-col-3 { flex-basis: 15%; }
  .library__tbls-col-4 { flex-basis: 15%; }
  .library__tbls-col-5 { flex-basis: 15%; }
}
