.library__app {
    width: calc(100% - 245px);
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    height: 100%;
    float: right;
}
.library__app.library-all {
    width: 100%;
}
