

/*- Library:: Counts -------*/
.library__counts .library__count {
  border: 1px solid #474d79;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  background-color: #2f3141;
  padding: 15px 15px 17px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-decoration: none;
  bottom: 0;
  &:hover {
    border-color: #4e60e3;
    bottom: 2px;
  }
  // &.lib-all { border-color: #959595; }
  // &.lib-new { border-color: #c17f00; }
  // &.lib-processing { border-color: #047eae; }
  // &.lib-returned { border-color: #ff5300; }
  // &.lib-delivered { border-color: #008c09; }
  // &.lib-refunded { border-color: #008c09; }
  // &.lib-cancelled { border-color: #f00; }
  // &.lib-rejected { border-color: #f00; }
  h2 {
    font-size: 18px;
    margin-bottom: 7px;
    b {
      font-size: 11px;
      background-color: #1e1e2b;
      color: #fff;
      padding: 4px 7px 3px;
      font-weight: lighter;
      font-variant: all-petite-caps;
      letter-spacing: 1px;
      float: right;
    }
  }
  &.lib-new h2 b {
    background-color: #c17f00;
  }
  &.lib-processing h2 b {
    background-color: #047eae;
  }
  &.lib-returned h2 b {
    background-color: #ff5300;
  }
  &.lib-delivered h2 b {
    background-color: #008c09;
  }
  &.lib-refunded h2 b {
    background-color: #008c09;
  }
  &.lib-cancelled h2 b {
    background-color: #f00;
  }
  &.lib-rejected h2 b {
    background-color: #f00;
  }
  .library__count-num {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    span {
      font-size: 24px;
      font-weight: bold;
      line-height: 25px;
      height: 20px;
    }
    i {
      font-size: 20px;
    }
  }
}
.library__counts.lib-nrml .library__count{
  cursor: default;
  &:hover {
    border-color: #474d79;
    bottom: 0;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #aaafd0;
  }
  &:last-child h2 {
    color: #fff;
  }
  .library__count-num {
    span {
      font-size: 20px;
      font-weight: lighter;
      del {
        font-size: 13px;
        letter-spacing: 1px;
      }
    }
  }
}

/*- Library:: Loading -------*/
.library__loadingos {
  text-align: center;
  height: 90vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.library__loadingo {
  background: #FFF;
  border: 1px solid #e1e4e7;
  padding: 40px 60px 50px;
  border-radius: 10px;
  img {
    width: 100px;
    margin: 0 auto 10px;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
}
